
~$RiodeJaneiro_Data.xlsx
bologna_modena_florence_rome_V3.knit.md
bologna_modena_florence_rome_V3.nb.html
bologna_modena_florence_rome_V3.utf8.md
bologna_modena_florence_rome_V4.nb.html
.RData
.Rhistory
all_cities_V3.knit.md
all_cities_V3.nb.html
.Rhistory
.Rhistory
